DIRECTUS_TOKEN=
PUBLIC_DIRECTUS_URL=
DIRECTUS_URL=
PUBLIC_APP_URL=
EMAIL_PROVIDER=resend
MAIL_FROM=

DIRECTUS_TOKEN=5GsGkO6i0AESPbcUbFJ3ddmDmiKoi8RO
DIRECTUS_URL=https://fdnd-agency.directus.app
EMAIL_PROVIDER=resend
MAIL_FROM=no-reply@fdnd.nl
PUBLIC_APP_URL=https://footguard.dev.fdnd.nl
PUBLIC_DIRECTUS_URL=https://fdnd-agency.directus.app
RESEND_API_KEY=re_aywRBoXH_FKjRi9sMFyvz4ZippfBk35CH