DIRECTUS_TOKEN=
PUBLIC_DIRECTUS_URL=https://fdnd-agency.directus.app
DIRECTUS_URL=https://fdnd-agency.directus.app
PUBLIC_APP_URL=https://footguard.dev.fdnd.nl
EMAIL_PROVIDER=resend
MAIL_FROM=no-reply@fdnd.nl